@import "../variables.scss";

html,
body {
  margin: 0 20px;
  padding: 0;
  font-size: 15px;
  height: 100%;
  min-height: 100%;
}

header {
  background-color: $base-black;
  color: #eadada;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: $header-margin;
}

main {
  background-color: lime;
  color: $base-black;

  .content {
    background-color: #eadade;
    font-size: 1.2rem;

    & > .content-list {
      margin: 0;
      padding: 0;
      list-style-type: circle;

      li {
        text-transform: uppercase;
        text-decoration: underline;

        &:hover {
          color: green;
        }
      }
    }

    &.active {
      color: blue;
    }
  }
}

@mixin button($color, $background) {
  color: $color;
  background-color: $background;
  border: $base-border;
  padding: 3px+4px 10px+5px;
  border-radius: 5px;
  cursor: pointer;
}

.button{
  @include button($base-black, #000);
}

.button-red {
  @include button(white,red);
}

.button-green {
  @include button(white,green);
}

.button-blue {
  @include button(white,blue);
}
